**/*.env
**/.env.example
**/.gitignore
**/Dockerfile
**/README.md
**/documentation/
**/notes.md
**/.turbo/
**/node_modules/
.github/
.git
.vscode
scripts/
.cz.toml
commit*
vercel.json
compose.yaml
Makefile
lefthook.yml
biome.json
**/.dockerignore
**/*.md