# ===== Server Info =====
# These env variables are for the dev environment.
DATABASE_URL=postgresql://postgres:postgres@localhost:5455/syncra?schema=syncra_dev
PORT=8000
SESSION_SECRET=!!REPLACE_ME!!

# ===== Stripe =====
STRIPE_SECRET_KEY=!!REPLACE_ME!!
STRIPE_WEBHOOK_SECRET=!!REPLACE_ME!!

# ===== Docker Compose Details ===== 
# You don't have to add these, it's here for reference

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# PgAdmin
PGADMIN_DEFAULT_EMAIL=user@syncra.com
PGADMIN_DEFAULT_PASSWORD=password

